.login-image {
    background-image: url("https://images.unsplash.com/photo-1613687414234-67a456c71a54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhbXB1c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: right;
    background-size: cover;
}

.register-image {
    background-image: url("https://images.unsplash.com/photo-1588230051274-e80dd07aab30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGNhbXB1c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: right;
    background-size: cover;
}

.form-search {
   width: 60%;
}

thead{
    background-color: blue;
    color: white;
}

